<%= render 'stars_rain' %>

<div class="container">
 	  <div class="hadding mt-5 mb-3">
	  <%= image_tag 'logo.png', alt: 'icon', class: 'img-m my-hover', width:"165", height:"144" %>
		  <h2 class="mt-3">Get 600 FREE Spins </h2>
	 </div>
	 <div class="row">
		 <div class="col-md-2 col-12"></div>
	   <div class="col-md-4 col-12">
		  <div class="casino_cont">
            <%= image_tag 'l1.png', alt: 'icon', class: 'img-fluid', width:"250", height:"48" %>
            <p>Welcome to TopCasinoFreeSpins!<br>
Our team of experts make sure to update <br>our Top Free Spins list.</p>
			  <ul>
			  <li><%= image_tag 'check.png', alt: '', class: 'img-fluid', width:"30", height:"30" %> Uk Licensed </li>
			  <li><%= image_tag 'check.png', alt: '', class: 'img-fluid', width:"30", height:"30" %> Safe and Secure   </li>
			  <li><%= image_tag 'check.png', alt: '', class: 'img-fluid', width:"30", height:"30" %> Fast Payouts</li>
			  </ul>
			  <div class="clearfix"></div>
			  <div class="row">
 <div class="col-5"><a class="btn btn-primary btn_cst mt-4" href="https://dl.reliatrk.com/?a=5&c=231&s1= " target="_blank" >GET NOW</a></div>
 <div class="col-6"> <%= image_tag 'stars.png', alt: '', class: 'img-fluid mt-3', width:"125", height:"26" %>
			  			   <span class="mt-2">
<br>Rating 4.6 out of 5</span></div>
		     </div>



	     </div>
	   </div>

		 	   <div class="col-md-4 col-12">
		  <div class="casino_cont casino_cont02">
				<%= image_tag 'l2.png', alt: '', class: 'img-fluid', width:"250", height:"48" %>
            <p>Welcome to WinWinCasino!<br>
Our team of experts make sure to update <br>our Top Free Spins list.</p>
			  <ul>
			  <li><%= image_tag 'check.png', alt: '', class: 'img-fluid', width:"30", height:"30" %> Uk Licensed </li>
			  <li><%= image_tag 'check.png', alt: '', class: 'img-fluid', width:"30", height:"30" %> Safe and Secure   </li>
			  <li><%= image_tag 'check.png', alt: '', class: 'img-fluid', width:"30", height:"30" %> Fast Payouts</li>
			  </ul>
			  <div class="clearfix"></div>
			  <div class="row">
 <div class="col-5"><a class="btn btn-primary btn_cst mt-4" href="https://dl.reliatrk.com/?a=5&c=230&s1=" target="_blank"  type="button">GET NOW</a></div>
 <div class="col-6"> <%= image_tag 'stars.png', alt: '', class: 'img-fluid mt-3', width:"125", height:"26" %>
			  			   <span class="mt-2">
<br>Rating 4.6 out of 5</span></div>
		     </div>



	     </div>
	   </div>
 <div class="col-md-2 col-12"></div>
	 </div>
 </div>
